@import './variables.scss';
@import './mixins.scss';

#about {
    @include offset;
}

.about {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include mq('to', 1025) {
            flex-direction: column;
        }
    }

    &__text-cta {
        width: 50%;

        @include mq('to', 1025) {
            width: 100%;
        }

        p {
            margin-top: 30px;
            margin-bottom: 40px;
            padding-right: 40px;

            @include mq('to', 1025) {
                padding-right: 0;
            }
        }
    }

    &__actions {
        display: flex;

        @include mq('to', 577) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            &:first-child {
                @include mq('from', 577) {
                    margin-right: 15px;
                }

                @include mq('to', 577) {
                    margin-right: 0;
                }

                @include mq('to', 376) {
                    margin-bottom: 15px;
                    width: 100%;
                }
            }
        }
    }

    &__offer {
        width: 50%;

        @include mq('to', 1025) {
            width: 100%;
            margin-top: 80px;
        }
    }

    &__offer-boxes {
        margin-top: 30px;
        display: grid;
        gap: 10px;

        @include mq('from', 1025) {
            grid-template-columns: repeat(2, 49%);
            grid-template-rows: repeat(2, 200px);
        }

        @include mq('fromto', 768, 1025) {
            grid-template-columns: repeat(2, 49.2%);
            grid-template-rows: repeat(2, 240px);
        }

        @include mq('to', 768) {
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(4, 220px);
        }

        a {
            color: $white;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__offer-box {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        @media (hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $transition;
        }

        span {
            position: absolute;
            top: 20px;
            left: 0;
            background-color: $darkBlue;
            padding: 10px 20px;
            border-radius: 0 4px 4px 0;
            font-size: 18px;
            z-index: 2;
        }
    }
}
