@import './variables.scss';

//Media query mixin
@mixin mq($type, $rezMin, $rezMax: null) {
    @if ($type== 'from') {
        @media only screen and (min-width: #{$rezMin}px) {
            @content;
        }
    }

    // ========= TO =========
    @else if ($type== 'to') {
        @media only screen and (max-width: #{$rezMin - 1}px) {
            @content;
        }
    }

    // ========= FROM TO =========
    @else if ($type== 'fromto') {
        @media only screen and (min-width: #{$rezMin}px) and (max-width: #{$rezMax - 1}px) {
            @content;
        }
    }
}

@mixin linkHover {
    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: $gold;
        left: 0;
        height: 1px;
    }

    &::before {
        bottom: 0;
    }

    &::after {
        bottom: -4px;
    }

    @media (hover: hover) {
        &:hover {
            color: $gold;
            &::before,
            &::after {
                animation: fillLine 0.8s forwards;
            }

            &::after {
                animation-delay: 0.1s;
            }
        }
    }
}

@mixin offset {
    &::before {
        content: '';
        display: block;
        height: 80px;
        margin-top: -80px;

        @include mq('to', 577) {
            height: 70px;
            margin-top: -69px;
        }
    }
}
