@import './variables.scss';
@import './mixins.scss';

.nav-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -1;
    transition: $transition;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        top: 0;
        left: 0;
    }

    &--open {
        backdrop-filter: blur(5px);
        z-index: 4;
        opacity: 1;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;

        @include mq('from', 577) {
            height: 50%;
        }

        @include mq('fromto', 376, 577) {
            height: 60%;
        }

        @include mq('to', 376) {
            height: 90%;
        }
    }

    &__list-item {
        margin-bottom: 25px;
        text-align: right;
    }

    &__link {
        text-transform: capitalize;
        color: $white;
        z-index: 4;
        text-transform: uppercase;
        font-size: 18px;
        position: relative;
        transition: $transition;

        &::before,
        &::after {
            @include mq('to', 577) {
                width: 0 !important;
            }
        }

        @include linkHover;
    }

    &__social-link {
        text-transform: none;

        &::before,
        &::after {
            @include mq('to', 577) {
                width: 100% !important;
            }
        }
    }
}
