@import './variables.scss';
@import './mixins.scss';

.preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;

    img {
        @include mq('to', 577) {
            width: 150px;
        }
    }

    &--hide {
        transition: $transition;
        z-index: -1;
        opacity: 0;

        img {
            opacity: 0;
            z-index: -1;
        }
    }
}
