@import './variables.scss';
@import './mixins.scss';

//Landing page

.landing-swiper {
    width: 100%;
    height: 100vh;

    @include mq('to', 577) {
        height: 70vh;
    }

    &__slide {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-color: $overlay;
            width: 100%;
            height: 100%;
            top: 0;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//Menu swiper

.menu-swiper {
    width: 100%;
    height: 650px;
    margin: 0 auto;

    @include mq('to', 577) {
        height: 600px;
    }
    


    &__slide {
        border: 2px solid $gold;
        padding: 0 25px 30px;
        border-radius: 4px;

        @include mq('to', 577) {
            padding: 0 15px 30px;
        }

        h3 {
            text-align: center;
            margin: 30px 0 20px;
        }
    }

    &__next-btn,
    &__prev-btn {
        color: $gold;

       

        &::after {
            top: 100%;
            transform: translateY(100%);
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            background-color: $gold;
            transition: $transition;
            bottom: -22.5px;
        }

        @media (hover: hover) {
            &:hover {
                &::before {
                    width: 30px;
                }
            }
        }
    }

    &__next-btn {
        right: -25px;

        &::before {
            left: -8px;
        }

        @include mq('to', 1400) {
            top: 90%;
            right: 25px;
        }
    }

    &__prev-btn {
        left: -25px;
        
        &::before {
            left: 6px;
        }

        @include mq('fromto',768, 1400) {
            top: 90%;
            left: 85%;
        }

        @include mq('to', 768) {
            top: 90%;
            left: 25px;
        }
    }

    &__slide-counter {
        color: $gold;
        position: absolute;
        top: 93.5%;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
    }
}
