@import './mixins.scss';
@import './variables.scss';
.top-btn {
    position: fixed;
    z-index: 3;
    background-color: transparent;
    border: 1px solid rgba($gold, 0.7);
    padding: 10px;
    bottom: 40px;
    right: 40px;
    border-radius: 4px;
    opacity: 0;
    transition: $transition;

    @include mq('to', 1025) {
        display: none;
    }

    @media (hover: hover) {
        &:hover {
            border: 1px solid rgba($gold, 1);

            i {
                opacity: 1;
            }
        }
    }

    i {
        font-size: 20px;
        color: $gold;
        opacity: 0.7;
        transition: $transition;
    }

    &--show {
        opacity: 0.7;
    }
}
